In [4]:
import pandas as pd
import random

In [6]:
data = pd.read_csv('data.csv')

In [12]:
data['first'] = data['first'].astype('object')
data['second'] = data['second'].astype('object')
data['third'] = data['third'].astype('object')

In [71]:
for i in range(len(data['name'])):
        first_row = [random.sample(range(1, 9),5) , random.sample(range(1, 99), 5)]
        second_row = [random.sample(range(1, 9), 5) , random.sample(range(1, 99), 5)]
        third_row = [random.sample(range(1, 9), 5) , random.sample(range(1, 99), 5)]
        first_row = dict(list(zip(first_row[0], first_row[1])))
        second_row = dict(list(zip(second_row[0], second_row[1])))
        third_row = dict(list(zip(third_row[0], third_row[1])))
        data.at[i, 'first'] = first_row
        data.at[i, 'second'] = second_row
        data.at[i, 'third'] = third_row

In [72]:
data.to_csv('data_final.csv')

In [73]:
data

,id,name,password,email,first,second,third
0,1,Nishant,abc,nishant@gmail.com,"{3: 68, 7: 73, 1: 59, 4: 12, 2: 19}","{6: 34, 4: 10, 3: 82, 8: 63, 1: 68}","{7: 35, 2: 46, 5: 23, 3: 63, 1: 37}"
1,2,Sarthak,123,sartahk@gmail.com,"{8: 97, 3: 10, 2: 65, 7: 28, 6: 46}","{3: 24, 4: 2, 7: 59, 1: 39, 5: 47}","{7: 37, 8: 31, 4: 77, 6: 47, 2: 28}"
2,3,Rajesh,abc1,rajesh@gmail.com,"{8: 93, 2: 98, 7: 38, 4: 81, 6: 27}","{2: 51, 5: 65, 4: 31, 6: 19, 7: 81}","{1: 32, 6: 37, 3: 58, 5: 29, 7: 19}"

In [20]:
first = data[data['name']=="Nishant"]['first'].tolist()

In [68]:
dict(first_row)

{1: 7, 6: 24, 2: 75, 8: 72, 7: 66}